

main {
	padding: 0px 15vw 0px 15vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.center {
	width: 100%;
	display: flex;
	justify-content: center;
}

.choose {
	background-color: #1f3641;
	box-shadow: 0px -8px 0px 0px #10212a inset;
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.choose > p:first-child {
	color: #a8bfc9;
	font-size: 16px;
	font-weight: 700;
	line-height: 20.16px;
	letter-spacing: 1px;
}

.choose > p:last-child {
	color: #a8bfc9;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.64px;
	letter-spacing: 0.875px;
}

.c-button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
	background-color: #1a2a33;
	width: 50%;
	max-width: 500px;
	border-radius: 15px;
}

.c-button > button {
	border-radius: 15px;
	width: 100%;
	padding: 15px 0px 15px 0px;
	margin: 0;
	border: 0;
	background-color: transparent;
}

.c-button > button:first-child:hover {
	background-color: #a8bfc90d;
}

.c-button > button:last-child {
	background-color: #a8bfc9;
}

.gametype {
	display: flex;
	flex-direction: column;
}

.gametype > button {
	font-size: 16px;
	font-weight: 700;
	line-height: 20.16px;
	letter-spacing: 1px;
	border-radius: 15px;
	padding: 15px 0px 15px 0px;
	margin: 10px 0px 10px 0px;
	border: 0;
}

.gametype > button:first-child {
	background: #f2b137;
	box-shadow: 0px -8px 0px 0px #cc8b13 inset;
}

.gametype > button:last-child {
	background: #31c3bd;
	box-shadow: 0px -8px 0px 0px #118c87 inset;
}
